@import "../constants/color.scss";

.btn {
  padding: 0.55rem 1.5rem 0.45rem;
}
.nav-link {
  color: $icon_color;
}
.navbar-brand {
  min-width: 25rem;
}
.task-menu {
  width: 100%;
}
.wrapper {
  width: fit-content;
  margin: 0 auto;
}
.user-menu {
  min-width: 25rem;
}
.dropdown-menu {
  width: 40rem;
  left: -14rem;
}
.notification-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
