<div class="container">
  <div class="mt-5">
    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow"
      *ngFor="let task of tasks"
    >
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
            Charge
          </h4>

          <div class="text-secondary-d1 text-120">
            <span class="ml-n15 align-text-bottom"
              ><i class="fa fa-inr" aria-hidden="true"></i> </span
            ><span class="text-180">{{ task.INR }}/-</span>
          </div>
          <span> {{ task.updated | dateAgo }} </span>
        </div>

        <ul
          class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0 book-section"
          routerLink="/bookdetails/{{ task.book_Id }}"
        >
          <li>
            <span>
              <span class="text-110">Book :</span>
              {{ task.book_name | titlecase }}
            </span>
          </li>

          <li class="mt-25">
            <span class="text-110"> Pages: {{ task.pages }}</span>
          </li>

          <li class="mt-25">
            <span class="text-110"> Publisher: {{ task.publisher }}</span>
          </li>
        </ul>

        <div class="col-12 col-md-4 text-center">
          <a
            class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600"
            data-bs-toggle="modal"
            data-bs-target="#addReview"
            (click)="setReviewForm(task.form)"
            >Start Review</a
          >
        </div>
      </div>
    </div>
    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm"
    >
      <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
        Total Task Charge: <i class="fa fa-inr ps-2" aria-hidden="true"></i>
        {{ totalCharge }}
      </h4>
    </div>
  </div>
</div>

<!--- form modal-->
<div
  class="modal fade"
  id="addReview"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Review</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- inout for Book Name -->
        <div *ngFor="let form of formToSubmit?.question_details">
          <div class="mb-3">
            <label class="col-form-label">{{ form.question }}</label>
            <div *ngIf="form.type === 'input'">
              <input type="{{ form.type }}" class="form-control" />
            </div>
            <div *ngIf="form.type !== 'input'">
              <div *ngFor="let option of form?.options">
                <input
                  class="me-2"
                  type="{{ form.type }}"
                  name="option"
                  value="{{ option }}"
                />
                <span>{{ option.op }} : {{ option.ans }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button class="btn btn-dark" data-bs-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
