<div class="container">
  <div class="mt-5">
    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow"
      *ngFor="let task of tasks"
    >
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
            Charge
          </h4>

          <div class="text-secondary-d1 text-120">
            <span class="ml-n15 align-text-bottom"
              ><i class="fa fa-inr" aria-hidden="true"></i> </span
            ><span class="text-180">{{ task.INR }}/-</span>
          </div>
          <span> {{ task.updated | dateAgo }} </span>
        </div>

        <ul
          class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0 book-section"
          routerLink="/bookdetails/{{ task.book_Id }}"
        >
          <li>
            <span>
              <span class="text-110">Book :</span>
              {{ task.book_name | titlecase }}
            </span>
          </li>

          <li class="mt-25">
            <span class="text-110"> Pages: {{ task.pages }}</span>
          </li>

          <li class="mt-25">
            <span class="text-110"> Publisher: {{ task.publisher }}</span>
          </li>
        </ul>

        <div class="col-12 col-md-4 text-center">
          <a class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600"
            >Start Review</a
          >
        </div>
      </div>
    </div>
    <div
      class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm"
    >
      <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
        Total Task Charge: <i class="fa fa-inr ps-2" aria-hidden="true"></i>
        {{ totalCharge }}
      </h4>
    </div>
  </div>
</div>
