$accept_btn: #00b950;
$close_btn: #e90000e1;
$gray: #9d9d9c;
$blue_btn: #0d6ce1;
$blue_border: #5a9beb;
$icon_color: #adb5bd;
$done_color: #d1008f;
$wait_color: #fbbf13;
$section: #e2e6ea;
$white: #fff;
$black: #111;
$header_black: #212529;
$light_black: #272c30f2;
