.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    min-width: 100%;
    margin: -4rem -2rem -2rem -2rem;
    
    }
.bookText p{
  margin:0 ;
}
.buttons{
  margin-bottom: 3rem;
}
.left-btn {
  margin-left: 4rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}
.favourite:disabled{
  background-color: #3f6767;
} 
.favourite:disabled .star{
  color: #ffe600;
} 
.read{
  margin: 0 1rem 0 1rem;
}
.grid{
  display: flex;
}
.list{
  display: block;
}
.list img{
  max-height: 12rem;
  max-width: 6rem;
  padding: 1rem;
  border: none;
}
.list .box{
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}
.list .bookText{
  justify-content: center;
  width: 40%;
  margin: auto;
  text-align: left;
}
.list .buttons{
  margin: 0;
}
.list .buttons .btns{
  display: grid;
  margin-top:4rem;
  margin-bottom: auto;
}
.list .buttons .btns button{
  margin-bottom: 1rem;
}
@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.list{
    display: contents;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }
}
@media only screen and (max-width : 576px) {
  .gradient-custom-2{
    margin-top: -8rem;
  }
  .left-btn {
   display: none;
  }
  .container{
  margin-top:8rem;
  }
  .grid{
    display: block;
    padding: 1rem;
  }
  .grid img{
    max-height: 12rem;
    max-width: 6rem;
    padding: 1rem;
    border: none;
  }
  .grid .box{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  .grid .bookText{
    justify-content: center;
    width: 40%;
    margin: auto;
    text-align: left;
  }
  .grid .buttons{
    margin: 0 1rem;
  }
  .grid .buttons .btns{
    display: grid;
    margin-top:3rem;
    margin-bottom: auto;
  }
  .grid .buttons .btns button{
    margin-bottom: 1rem;
  }
}

/* Grow thumbnails to fill columns height */
.flex-row .thumbnail,
.flex-row .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/* Flex Responsive Image */
.flex-row img {
	width: 100%;
	height: auto;
}