.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    min-width: 100%;
    margin: -4rem -2rem -2rem -2rem;
    
    }
.left-btn {
  margin-left: 4rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}
.favourite:disabled{
  background-color: #3f6767;
} 
.favourite:disabled .star{
  color: #ffe600;
} 

@media only screen and (min-width : 481px) {
  .flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.list{
    display: contents;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }
  .box{
    border: 2px solid green;
    min-height: 24rem;
    padding: 1rem;
    margin: 1rem;
  }
}
@media only screen and (max-width : 576px) {
  .left-btn {
   display: none;
  }
  .container{
margin-top:8rem;
  }
}




/* Grow thumbnails to fill columns height */
.flex-row .thumbnail,
.flex-row .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

/* Flex Grow Text Container */
.flex-row .caption p.flex-text {
	flex-grow: 1;
}

/* Flex Responsive Image */
.flex-row img {
	width: 100%;
	height: auto;
}