<div class="container">
    <section class="mx-auto my-5" style="max-width: 80rem;">
        <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <i class="fa fa-user-circle-o"></i>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">{{this.userService.getUserData()}}</h4>
            </div>
        </div>
    </section>
</div>