<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" style="margin-top: 5rem">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
          >
            <div
              class="ms-4 mt-5 d-flex flex-column"
              style="width: 150px; height: 300px"
            >
              <img
                src="./assets/img/Placeholder.jpg"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2 square"
                style="width: 150px; height: 150px; z-index: 1"
              />
              <button
                type="button"
                class="btn btn-dark mt-4"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                Edit profile
              </button>
            </div>
            <div class="ms-3" style="margin-top: 100px">
              <h3>{{ userDetails?.fname }} {{ userDetails?.lname }}</h3>
              <h5>{{ userDetails?.uname }}</h5>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{ favourites?.length }}</p>
                <p class="small text-muted mb-0">Favourites</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa">
                <p class="font-italic mb-1">
                  <strong>Age:</strong> {{ userDetails?.age }}
                </p>
                <p class="font-italic mb-1">
                  <strong>Gender:</strong> {{ userDetails?.gender }}
                </p>
                <p class="font-italic mb-1">
                  <strong>Education:</strong> {{ userDetails?.education }}
                </p>
                <p class="font-italic mb-1">
                  <strong>Education Stream:</strong>
                  {{ userDetails?.education_dep }}
                </p>
                <p class="font-italic mb-1">
                  <strong>Email:</strong> {{ userDetails?.email }}
                </p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Favourite books</p>
              <p class="mb-0 ">
                <a *ngIf="limit <= 4" class="text-muted pointer-hand" (click)="limit = favourites.length">Show all</a>
                <a *ngIf="limit > 4" class="text-muted pointer-hand" (click)="limit = 4">Show less</a>
              </p>
            </div>
            <div class="container">
              <div class="row row-cols-2">
                <div class="col" *ngFor="let book of favourites.slice(0, limit) ">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                    alt="image 1"
                    style="max-width: 70%"
                  />
                  <div class="bookText">
                    <p><strong>Name:</strong> {{ book.bookName }}</p>
                    <p><strong>Ratings:</strong> {{ book.bookRating }}</p>
                    <p><strong>Authors:</strong> {{ book.bookAuthors }}</p>
                    <button routerLink="/bookdetails/{{book.bookId}}"><i class="fa fa-book" aria-hidden="true"></i></button>
                    <button (click)="deleteFavourites(book.bookId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
