body {
	background-color: #f5f7fa;
}
.container{
    margin-top: 8rem;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  height: 60px;
}

.testimonial-card .avatar {
  width: 80%;
  margin-top: -60px;
  overflow: hidden;
  text-align: center;
  font-size: 4em;
}
