<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight title">
          Welcome To <br />
          <span>BOOKLINE</span>
        </h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative log-in">
        <div class="card bg-glass">
          <div class="login-logo">
            <img src="assets/img/log-in-logo.gif" />
          </div>
          <div class="card-body px-4 py-5 px-md-5">
            <form (ngSubmit)="loginUser()" [formGroup]="loginForm" novalidate>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  formControlName="email"
                  class="form-control"
                  type="text"
                  placeholder="Enter Email"
                />
                <div>
                  <small
                    *ngIf="
                      loginForm.get('email')!.hasError('required') &&
                      loginForm.get('email')!.touched
                    "
                  >
                    Email Address is required
                  </small>

                  <small *ngIf="loginForm.get('email')!.hasError('pattern')">
                    Invalid Email Address !
                  </small>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <div class="password-section">
                  <input
                    formControlName="password"
                    [type]="[isShowPassword ? 'text' : 'password']"
                    class="form-control password-input"
                    placeholder="Enter Password"
                  />
                  <button
                    type="button"
                    class="show-hide-btn"
                    (click)="showHidePassword()"
                  >
                    <i
                      [ngClass]="
                        isShowPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                      "
                    ></i>
                  </button>
                </div>
                <div>
                  <small
                    *ngIf="
                      !loginForm.get('password')!.valid &&
                      loginForm.get('password')!.touched
                    "
                  >
                    Password is required! Should be more tha 4 and less than 10
                    characters
                  </small>
                </div>
              </div>
              <div class="form-outline mb-4">
                <small *ngIf="invalidInput">
                  Invalid Email or Password !
                </small>
              </div>

              <!-- Submit button -->
              <div class="text-center">
                <button
                  *ngIf="!isLoading"
                  type="submit"
                  class="btn btn-dark btn-block mb-4 login-btn"
                  [disabled]="loginForm.invalid"
                >
                  Log In
                </button>
                <button
                  *ngIf="isLoading"
                  class="btn btn-dark btn-block mb-4 login-btn"
                  disabled
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Logging In...
                </button>
                <br />
                <a routerLink="/sign-up">Sign Up?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
