<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Welcome To <br />
                    <span style="color: hsl(218, 81%, 75%)">BOOKCOMET</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative display-5 fw-bold ls-tight" *ngIf="isSignUpSuccess">
               <h1 class="mb-4 opacity-70" style="color: rgb(44, 255, 44);"> Sign Up Successfull !<br>
                 please <a routerLink="/login" style="color: hsl(218, 81%, 75%)">Log In</a></h1>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative" *ngIf="!isSignUpSuccess">
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form (ngSubmit)='signUpUser()' [formGroup]='signupForm' novalidate>
                            <div class="row">
                                <!-- First name input -->
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input formControlName='fname' type="text" id="form3Example1"
                                            class="form-control" placeholder="First Name" />
                                        <small
                                            *ngIf="signupForm.get('fname')!.hasError('required') && signupForm.get('fname')!.touched">
                                            First name is required !
                                        </small>
                                    </div>
                                </div>
                                <!-- Last name input -->
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input formControlName='lname' type="text" id="form3Example2"
                                            class="form-control" placeholder="Last Name" />
                                        <small
                                            *ngIf="signupForm.get('lname')!.hasError('required') && signupForm.get('lname')!.touched">
                                            Last name is required !
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input formControlName='email' class="form-control" type="text"
                                    placeholder="Enter Email" />
                                <div>
                                    <small
                                        *ngIf="signupForm.get('email')!.hasError('required') && signupForm.get('email')!.touched">
                                        Email Address is required
                                    </small>

                                    <small *ngIf="signupForm.get('email')!.hasError('pattern')">
                                        Invalid Email Address !
                                    </small>
                                </div>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input formControlName='password' type="password" class="form-control"
                                    placeholder="Enter Password" />
                                <div>
                                    <small
                                        *ngIf=" !signupForm.get('password')!.valid && signupForm.get('password')!.touched">
                                        Password is required! Should be more tha 4 and less than 10 characters
                                    </small>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark btn-block mb-4 signup-btn"
                                    [disabled]="signupForm.invalid">
                                    Sign Up
                                </button><br>
                                <span> Already have an account?</span><a routerLink="/login">Log In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>