.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(circle, rgb(78, 78, 78) 0%, rgba(27,27,27,1) 100%),
        radial-gradient(circle, rgba(20,135,168,1) 0%, rgba(27,27,27,1) 100%);
  }
.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  .login-btn:disabled{
    background-color: #555;
  }
  small{
    color:red;
  }
  .scrool-btn {
    position: absolute;
    min-width: 82%;
    background-color: #fff;
    list-style: none;
    height:200px;
    overflow-y: scroll;
    text-align: left;
    padding: 10px 10px 0 10px;
    border: 2px solid hsl(218, 81%, 75%);
    z-index: 1;
  }
  .checked{
    padding:0 5px 0 5px;
    font-size: xx-small;
  }
  .tags{
    display: block;
  }
  .remove-tag{
    background-color: red;
    color: #fff;
    border-radius: 50%;
    box-shadow: none;
    border: none;
  }